@media (min-width: 900px) {
  body {
    background-attachment: fixed;
  }

  header {
    padding: 10px 16px;
  }

  .navigation {
    width: 360px;
    left: auto;
    right: 10px;
    top: 100%;
    border-radius: 12px;
  }

  .info1 {
    margin-bottom: 30px;
  }

  .cta-button {
    bottom: 22px;
    padding: 14px 28px;
    font-size: 1.1rem;
  }
}
